<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.review.mapper.PsFileMapper">


    <!-- 新增-->
    <insert id="insert" parameterType="com.review.pojo.PsFile" useGeneratedKeys="true" keyProperty="uuid">
        insert into PS_FILE(
        sheet_id,
        file_name,
        file_path,
        file_type,
        sjc
        ) values (
        #{sheetId},
        #{fileName},
        #{filePath},
        #{fileType},
        #{sjc,jdbcType=TIMESTAMP}
        )
    </insert>


</mapper>
