<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.review.mapper.PsFileMapper">

    <!-- 新增-->
    <insert id="insert" parameterType="com.review.pojo.PsFile" useGeneratedKeys="true" keyProperty="uuid">

        insert into PS_FILE(
        sheet_id,
        file_name,
        file_path,
        file_type,
        sjc
      ) values (
        #{sheetId},
        #{fileName},
        #{filePath},
        #{fileType},
        #{sjc,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="listAll" parameterType="com.review.pojo.PsFile" resultMap="psFileResultMap">
           select
				a.sheet_id,
				a.file_name,
				a.file_path,
				a.file_type,
				a.sjc,
        a.uuid
            from
        PS_FILE a
    </select>

    <resultMap id="psFileResultMap" type="com.review.pojo.PsFile">
        <id property="uuid" column="uuid"></id>
        <result property="sheetId" column="sheet_id"></result>
        <result property="fileName" column="file_name"></result>
        <result property="filePath" column="file_path"></result>
        <result property="fileType" column="file_type"></result>
        <result property="sjc" column="sjc"></result>
    </resultMap>


</mapper>
