<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.review.mapper.PsUserMapper">
    <!-- insert user -->
    <insert id = "insert" parameterType="com.review.pojo.PsUser">
        INSERT INTO USER(ID,USERNAME,PASSWORD,AGE) VALUES(#{id},#{username},#{password},#{age});
    </insert>

    <!-- update user -->
    <update id="edit" parameterType="com.review.pojo.PsUser">
        UPDATE USER SET USERNAME=#{username} , PASSWORD=#{password} , AGE = #{age} WHERE ID=#{id}
    </update>

    <!-- find user -->
    <select id="find" parameterType="String" resultType="com.review.pojo.PsUser">
        SELECT PSUSER_ID AS psuserId,PSUSER_NAME as psuserName,PSUSER_PASS as psuserPass,PSUSER_DEPT as psuserDept,
        PSUSER_UNIT as psuserUnit,VALID_FLAG as validFlag,UPDATE_TIME as updateTime FROM PS_USER WHERE PSUSER_NAME=#{0}
    </select>

    <!-- delete user -->
    <delete id="delete" parameterType="String">
        DELETE FROM PS_USER WHERE PSUSER_NAME=#{0}
    </delete>
</mapper>