<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.review.mapper.ReviewScoreMapper">

    <resultMap id="reviewScore" type="com.review.pojo.ReviewScore">
        <id column="scoreId"  property="scoreId" />
        <result column="scoreUserId"  property="scoreUserId" />
        <result column="scoreUserName"  property="scoreUserName" />
        <result column="scoreUserDesc"  property="scoreUserDesc" />
        <result column="scoreValue"  property="scoreValue" />
        <result column="scoreTime"  property="scoreTime" />
        <result column="reviewprjId"  property="reviewprjId" />
        <result column="reviewName"  property="reviewName" />
    </resultMap>

    <!-- getSummaryList -->
    <select id="getSummaryList" parameterType="String" resultMap="reviewScore">
        SELECT
        S.score_id AS scoreId,
        S.score_user_id AS scoreUserId,
        S.score_user_name AS scoreUserName,
        S.score_user_desc as scoreUserDesc,
        S.score_value as scoreValue,
        S.score_time as scoreTime,
        S.reviewprj_id as reviewprjId,
        S.review_name as reviewName
        FROM
        REVIEW_SCORE S


    </select>

    <select id="queryById" parameterType="String" resultMap="reviewScore">
        SELECT
        S.score_id AS scoreId,
        S.score_user_id AS scoreUserId,
        S.score_user_name AS scoreUserName,
        S.score_user_desc as scoreUserDesc,
        S.score_value as scoreValue,
        S.score_time as scoreTime,
        S.reviewprj_id as reviewprjId,
        S.review_name as reviewName
        FROM
        REVIEW_SCORE S
        where 1=1
            and SCORE_ID = #{0}

    </select>

    <delete id="deleteById" parameterType="String">

        delete from REVIEW_SCORE
        where SCORE_ID = #{0}
    </delete>


    <insert id="insertSelective" parameterType="com.review.pojo.ReviewScore">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into REVIEW_SCORE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="scoreId != null">
                SCORE_ID,
            </if>
            <if test="scoreUserId != null">
                SCORE_USER_ID,
            </if>
            <if test="scoreUserName != null">
                SCORE_USER_NAME,
            </if>
            <if test="scoreUserDesc != null">
                SCORE_USER_DESC,
            </if>
            <if test="scoreValue != null">
                SCORE_VALUE,
            </if>
            <if test="scoreTime != null">
                SCORE_TIME,
            </if>
            <if test="reviewprjId != null">
                REVIEWPRJ_ID,
            </if>
            <if test="reviewName != null">
                REVIEW_NAME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="scoreId != null">
                #{scoreId,jdbcType=VARCHAR},
            </if>
            <if test="scoreUserId != null">
                #{scoreUserId,jdbcType=VARCHAR},
            </if>
            <if test="scoreUserName != null">
                #{scoreUserName,jdbcType=VARCHAR},
            </if>
            <if test="scoreUserDesc != null">
                #{scoreUserDesc,jdbcType=VARCHAR},
            </if>
            <if test="scoreValue != null">
                #{scoreValue,jdbcType=VARCHAR},
            </if>
            <if test="scoreTime != null">
                #{scoreTime,jdbcType=DATE},
            </if>
            <if test="reviewprjId != null">
                #{reviewprjId,jdbcType=VARCHAR},
            </if>
            <if test="reviewName != null">
                #{reviewName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.review.pojo.ReviewScore">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update REVIEW_SCORE
        <set>
            <if test="scoreUserId != null">
                SCORE_USER_ID = #{scoreUserId,jdbcType=VARCHAR},
            </if>
            <if test="scoreUserName != null">
                SCORE_USER_NAME = #{scoreUserName,jdbcType=VARCHAR},
            </if>
            <if test="scoreUserDesc != null">
                SCORE_USER_DESC = #{scoreUserDesc,jdbcType=VARCHAR},
            </if>
            <if test="scoreValue != null">
                SCORE_VALUE = #{scoreValue,jdbcType=VARCHAR},
            </if>
            <if test="scoreTime != null">
                SCORE_TIME = #{scoreTime,jdbcType=DATE},
            </if>
            <if test="reviewprjId != null">
                REVIEWPRJ_ID = #{reviewprjId,jdbcType=VARCHAR},
            </if>
            <if test="reviewName != null">
                REVIEW_NAME = #{reviewName,jdbcType=VARCHAR},
            </if>
        </set>
        where SCORE_ID = #{scoreId,jdbcType=VARCHAR}
    </update>

</mapper>